body {
background-color: #EEF5F8;
font-family: Helvetica, sans-serif;
}

a:link, :active, :visited {
	color: white;
	background-color: darkgrey;
	text-decoration: none;
	padding: 4px;
}

a:hover {
	color: white;
	background-color: darkgoldenrod;
	text-decoration: none;
}